@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  /* Solution 2 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* Solution 1 */
div ul,
a {
  list-style: none;
  text-decoration: none;
  color: #656060;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  /* align-items: flex-start; */
}

.header .left-links,
.right-links,
.footer .left-links,
.right-links {
  display: flex;
  gap: 10px;
}
div.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  /* justify-content: space-between; */
}
.footer{
  background-color: #eeeeee;
}
div.buttons button{
  padding: 9px;
}